<div class="container-fluid" style="display: none;" id="createRuleBlock">
    <div class="row">
        <div class="container m-0 pl-4">
            <div class="row d-flex">
                <p class="text font-weight-bold mt-1 mb-0">ADD RULE</p>
                <input type="text" id="name" placeholder="name" class="ml-2">
            </div>

            <div class="row mt-3">
                <div class="col pl-0">
                    <p class="text font-weight-bold mb-0">Set</p>
                    <div class="row ml-3">
                        <div class="col-3">
                            <div class="row" style="width: max-content;">
                                <input type="radio"
                                       id="lifecycleStageActive"
                                       name="lifecycleStageRadio"
                                       value="Active">
                                <label class="ml-2 mb-0" style="color: #1cc88a;" for="lifecycleStageActive">Active</label>
                            </div>

                            <div class="row" style="width: max-content;">
                                <input type="radio"
                                       id="lifecycleStageMaintenance"
                                       name="lifecycleStageRadio"
                                       value="Maintenance">
                                <label class="ml-2 mb-0" style="color: #36b9cc;" for="lifecycleStageMaintenance">Maintenance</label>
                            </div>

                            <div class="row" style="width: max-content;">
                                <input type="radio"
                                       id="lifecycleStageUnsupported"
                                       name="lifecycleStageRadio"
                                       value="Unsupported" checked>
                                <label class="ml-2 mb-0" for="lifecycleStageUnsupported">Unsupported</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <p class="text font-weight-bold mb-0">By</p>
                    <div class="row ml-3">
                        <div class="col-3">
                            <div class="row" style="width: max-content;">
                                <input type="radio"
                                       id="radioByVerRange"
                                       name="byRadio"
                                       value="verRange">
                                <label class="ml-2 mb-0" for="radioByVerRange">Version range</label>
                            </div>

                            <div class="row" style="width: max-content;">
                                <input type="radio"
                                       id="radioByAbsDate"
                                       name="byRadio"
                                       value="abs">
                                <label class="ml-2 mb-0" for="radioByAbsDate">Absolute date</label>
                            </div>

                            <div class="row" style="width: max-content;">
                                <input type="radio"
                                       id="radioByRelDate"
                                       name="byRadio"
                                       value="rel">
                                <label class="ml-2 mb-0" for="radioByRelDate">Relative date</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row mt-4" id="absDatePicker" style="display: none;">
                        <div class="row d-flex">
                            <p style="width: max-content;" class="mb-0 mr-2"><input type="checkbox" id="enableAfterAbsDate"> After</p>
                            <input id="afterAbsDate" type="date" disabled>
                        </div>
                        <div class="row d-flex mt-2">
                            <p style="width: max-content;" class="mb-0 mr-2"><input type="checkbox" id="enableBeforeAbsDate"> Before</p>
                            <input id="beforeAbsDate" type="date" disabled>
                        </div>
                    </div>
                    <div class="row mt-5" id="relDatePicker" style="display: none;">
                        <p style="width: max-content">Last <input style="width: 100px;" type="number" id="relDate" min="0"> days</p>
                    </div>
                    <div id="verRangePicker" class="row mt-4"  style="display: none; flex-direction: column;">
                        <div id="versionRangeFields" style="display: flex; flex-direction: column;">
                            <div style="display: grid; grid-template-columns: 200px 20px; column-gap: 10px;">
                                <input type="text" class="verRange" id="verRange1" placeholder="Enter range">
                            </div>
                        </div>
                        <div style="display: grid; grid-template-columns: 200px 20px; column-gap: 10px;">
                            <div style="display: flex; justify-content: center;">
                                <img id="addVerRange" th:src="@{img/add.png}" class="addVerRange" height="25" width="25">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <a class="btn btn-primary btn-icon-split mt-4" id="saveButton">
                    <span class="text">Save</span>
                </a>

                <a class="btn btn-primary btn-icon-split mt-4 ml-4" id="cancelButton">
                    <span class="text">Cancel</span>
                </a>
            </div>

            <p style="color: red; display: none;" class="text font-weight-bold ml-2 mt-2" id="createRuleErrorMes">Error! Invalid input</p>
        </div>
    </div>

    <style>
        input {
            outline: none;
        }

        .verRange {
            margin-top: 10px;
        }

        .addVerRange {
            margin-top: 10px;
        }

        .deleteVerRange {
            margin-top: 12px;
        }

        .deleteVerRange:hover {
            cursor: pointer;
        }

        .addVerRange:hover {
            cursor: pointer;
        }
    </style>

    <script>
        function createRule(componentId) {
            const absDatePicker = document.getElementById('absDatePicker');
            const relDatePicker = document.getElementById('relDatePicker');
            const verRangePicker = document.getElementById('verRangePicker');

            let byChoice = null

            let versionRangeCount = 1

            function hidePickers() {
                absDatePicker.style.display = 'none'
                relDatePicker.style.display = 'none'
                verRangePicker.style.display = 'none'
            }

            document.getElementById('name').value = JSON.parse(httpGet("/generate-rule-name/" + componentId))

            document.getElementById('radioByVerRange').onclick = () => {
                byChoice = "verRange"

                hidePickers()
                verRangePicker.style.display = "flex"
            }

            document.getElementById('radioByAbsDate').onclick = () => {
                byChoice = "absDate"

                hidePickers()
                absDatePicker.style.display = "block"
            }

            document.getElementById('radioByRelDate').onclick = () => {
                byChoice = "relDate"

                hidePickers()
                relDatePicker.style.display = "block"
            }

            document.getElementById('enableAfterAbsDate').onclick = () => {
                document.getElementById('afterAbsDate').disabled = !document.getElementById('afterAbsDate').disabled
            }

            document.getElementById('enableBeforeAbsDate').onclick = () => {
                document.getElementById('beforeAbsDate').disabled = !document.getElementById('beforeAbsDate').disabled
            }

            function checkAllVerRangesFull() {
                for (let vr of document.getElementsByClassName("verRange")) {
                    if (vr.value === "") return false
                }
                return true
            }

            document.getElementById("addVerRange").onclick = () => {
                if (checkAllVerRangesFull()) {
                    versionRangeCount++
                    document.getElementById("versionRangeFields").insertAdjacentHTML(
                        "beforeend",
                        "<div style=\"display: grid; grid-template-columns: 200px 20px; column-gap: 10px;\">" +
                        "<input type=\"text\" class=\"verRange\" id=\"verRange" + versionRangeCount + "\" placeholder=\"Enter range\">" +
                        "<img id=\"deleteVerRange" + versionRangeCount + "\" src=\"img/delete.png\" class=\"deleteVerRange\" height=\"20\" width=\"20\">" +
                        "</div>"
                    )

                    document.getElementById('deleteVerRange' + versionRangeCount).addEventListener("click", function (e) {
                        e.target.parentElement.remove()
                    })
                }
            }

            function saveSettings() {
                if (byChoice == null) return false

                let url = "../api/rules?componentId=" + componentId + "&name=" + document.getElementById('name').value +
                    "&type=component"

                if (document.getElementById('lifecycleStageActive').checked) url += "&putLifecycleStage=active"
                else if (document.getElementById('lifecycleStageMaintenance').checked) url += "&putLifecycleStage=maintenance"
                else if (document.getElementById('lifecycleStageUnsupported').checked) url += "&putLifecycleStage=unsupported"

                if (byChoice === "verRange") {
                    url += '&dateFormat=null'
                    for (let i = 1; i <= versionRangeCount; i++) {
                        if (document.getElementById('verRange' + i) != null && document.getElementById('verRange' + i).value != "") {
                            url += '&versionRange=' + document.getElementById('verRange' + i).value
                        }
                    }

                } else if (byChoice === "absDate") {
                    url += '&dateFormat=abs'
                    if (document.getElementById('enableAfterAbsDate').checked) {
                        url += "&minDate=" + document.getElementById('afterAbsDate').value
                    }
                    if (document.getElementById('enableBeforeAbsDate').checked) {
                        url += "&maxDate=" + document.getElementById('beforeAbsDate').value
                    }
                } else {
                    if (+document.getElementById('relDate').value < 0) return false
                    url += '&dateFormat=rel'
                    url += "&timeGap=" + document.getElementById('relDate').value
                }

                return httpPost(encodeURI(url)) != null;
            }

            document.getElementById('saveButton').addEventListener('click', () => {
                if (!saveSettings()) {
                    document.getElementById('createRuleErrorMes').style.display = 'block'
                } else {
                    document.getElementById('createRuleBlock').style.display = 'none'
                    document.getElementById("columnRight").innerHTML = displayRulesBlock
                    displayRules(componentId, true)
                }
            })

            document.getElementById('cancelButton').addEventListener('click', () => {
                document.getElementById('createRuleBlock').style.display = 'none'
                document.getElementById("columnRight").innerHTML = displayRulesBlock
                displayRules(componentId, true)
            })

            document.getElementById('createRuleBlock').style.display = 'block'
        }
    </script>
</div>
